
<div class="outer">
  <mat-card class="card">
    <mat-card-content>
      <mat-card-title>
        <span >
          <span style="font-family: initial;">
           @{{tweet.UserName}}
          </span >
          <span style="float: right; font-family: initial;" >
          <span>
          {{tweetCreatedTime}}  &zwnj;&zwnj;&zwnj;&zwnj; {{tweet.TweetCreatedDMY}}
          </span>
          <span>
            &zwnj;&zwnj;
            <button *ngIf="isSameUser" class="btn btn-primary" (click)="editMyPost()"><i class="bi bi-pencil-fill"></i></button>
          </span>
        </span>
      </span>
      </mat-card-title>
      <br>
      <div>
        <div style="display: inline-block;">
          <span class="ForProfilePhoto"> <img class="imgSrc" [src]="imagePath" />  </span>
        </div>
        <div style="display: inline-block;">
          <div class="TweetContent" *ngIf="!isMyPostEdit">
            {{ tweetContent }}
          </div>
          <div class="TweetContent" *ngIf="isMyPostEdit">
            <form
            [formGroup]="formEditPost"
            (ngSubmit)="editPost(formEditPost.value)"
          >
            <input type="text" formControlName="tweetContent"  style="width: 1000px; font-family: cursive;" maxlength=400/>
           &zwnj;
            <button type="submit" value="Submit" class="btn btn-success" style="width: 80px;">Save </button>
            &zwnj;
            <button (click)="CancelEditMyPost()" class="btn btn-danger" style="width:80px">Cancel</button>
          </form>
          </div>
          <br>
          <div class="ViewComments">
            <button mat-icon-button color={{likeBtnColor}} (click)="likeButtonClicked()">
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
            </button>&nbsp;&nbsp;&nbsp;
            <span>Likes : {{totalLikes}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="viewComments()" *ngIf="!viewCommentsToggle" class="btn btn-info">{{NewOrView}} &zwnj;<i class="bi bi-caret-down-fill"></i></button>
            <button (click)="viewComments()"*ngIf="viewCommentsToggle" class="btn btn-info">Close Comments &zwnj;<i class="bi bi-caret-up-fill"></i></button>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="viewCommentsToggle">
        
      <div class="showingComment" *ngIf="showComment">

        <mat-card class="commentCard">
          <mat-card-title>
            <span>
              <span style="font-family: initial;">
           @{{commentorUserName}}
              </span>
              <span style="float: right; font-family: initial;">
                <button *ngIf="isSameCommentUser" class="btn btn-primary" (click)="editMyComment()"><i class="bi bi-pencil-fill"></i></button>
              </span>
            </span>
          </mat-card-title>
          <mat-card-content>
            <div>
              <div style="display: inline-block;">
                <img class="imgSrc" [src]="commentorimagePath" />

              </div>
              <div style="display: inline-block;">
                <span class="comments" *ngIf="!isMyCommentEdit" style="font-family: cursive;">{{ commentorContent }}</span>
                <div class="comments" *ngIf="isMyCommentEdit">
                  <form
                  [formGroup]="formEditComment"
                  (ngSubmit)="editComment(formEditComment.value)"
                >
                  <input type="text" formControlName="commentorContent" style="width: 800px; font-family: cursive;" maxlength=200/>
           &zwnj;

                  <button type="submit" value="Submit" class="btn btn-success" style="width: 80px;">Save</button>
           &zwnj;

                  <button (click)="CancelEditMyComment()" class="btn btn-danger" style="width:80px">Cancel</button>
                </form>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="!showComment">


<mat-card style="margin-left: 50px; background-color: aliceblue;">
  <mat-card-title>
    <span>
      <span style="font-family: initial;">
        @{{currentUserName}}
      </span>
    </span>
  </mat-card-title>
  <mat-card-content>
    <div>
      <div style="display: inline-block;">
        <img class="imgSrc" [src]="userImage" />
      </div>
      <div style="display: inline-block;">
        <form
        [formGroup]="formNewComment"
        (ngSubmit)="addComment(formNewComment.value)"
      >  &zwnj;
        &zwnj;
        &zwnj;
        &zwnj;
        <input type="text" formControlName="commentorContent" style="width: 800px; height: 40px; font-family: cursive;" maxlength=200/>
        &zwnj;
        <button type="submit" value="Submit" class="btn btn-success">Comment</button>
      </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
      </div>
      </div>
    </mat-card-content>
  </mat-card>
&zwnj;
&zwnj;

</div>