
<div  class="outer" >
  <h2>&zwnj;</h2>
  <h2>&zwnj;</h2>
  <div class="container" id="container"  >
    <div class="form-container sign-up-container">
      <form [formGroup]="formGroupReg" (ngSubmit)="registerProcess()">
        <input type="text" placeholder="Name" formControlName="nameReg" />

        <input
          type="number"
          placeholder="Contact number"
          formControlName="contactNumberReg"
          required
        />
        <input
          type="text"
          name="gender"
          list="genderList"
          placeholder="Select your Gender"
          formControlName="genderReg"
          required
          
        />
        <datalist id="genderList">
          <option value="Male" selected></option>
          <option value="Female"></option>
        </datalist>
        <input type="email" placeholder="Email" formControlName="emailReg" />
        <input
          type="password"
          placeholder="Password"
          formControlName="passwordReg"
          required
        />
        <input
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPasswordReg"
          required
        />
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="form" (ngSubmit)="loginProcess()">
        <h1>Sign in</h1>
        <div class="form-group">
          <input
            type="email"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
          />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
          />
          <div
            *ngIf="submitted && f['password'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['password'].errors['required']">
              Password is required
            </div>
            <div *ngIf="f['password'].errors['minlength']">
              Password must be at least 8 characters
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
              Username must not exceed 40 characters
            </div>
          </div>
        </div>
        <a class="ForForgotPassword" routerLink="/forgotPassword">Forgot your password? Click here</a>
        
        <button>Sign In</button>
      </form>
     
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h4>Please Sign In to continue</h4>
          <p>Already have account? Just Sign In</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h3>Please login to continue</h3>
          <p>Dont have account? Just Sign Up</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
