<app-nav-bar></app-nav-bar>
<div class="outer">
<mat-card class="card">
  <mat-card-title>
    
    <span >
      <span class="  w3-card w3-light-blue "> @{{userName}}</span><span style="float: right;border-radius: 5px; " class="w3-card w3-orange ">{{tweetCreatedPeriodString}} &nbsp;&nbsp;&nbsp;&nbsp;{{tweetCreatedDMY}}</span>
    </span>
  </mat-card-title>
  <mat-card-content>
    <div style="display: inline-block;">
      <span class="ForProfilePhoto"> <img class="imgSrc" [src]="imagePath" />  </span>
    </div>
    <div style="display: inline-block;">
      <div style="margin-top: 5px;">
        <div>
          <form [formGroup]="formdata" (ngSubmit)="editDetails(formdata.value)">
        <input type="text" formControlName="TweetContent" style="width: 990px; height: 60px;" />
        <br>
        <button type="submit" mat-raised-button color="primary" class="Btn" value="Submit">Post Tweet</button>
        
          </form>
          
        </div>
</div>
    </div>
  </mat-card-content>
</mat-card>
</div>