<app-nav-bar></app-nav-bar>
<div class="mainOuter">
<div class="outer">
  
  <form [formGroup]="formdata" (ngSubmit)="editDetails(formdata.value)" style="height: 600px;">
    <div class="inner" style="display: inline-block;">
    <div class=" ForUserIdDiv">
      <span >
        <label class="ForUserIdlabel">User Id</label>&nbsp;&nbsp;
        <input type="text" formControlName="UserId" class="ForUserIdInput" />
      </span>
    </div>
    <div class=" ForUserNameDiv">
      <span>
        <label class="ForUserNamelabel">User name</label>&nbsp;&nbsp; 
        <input type="text" formControlName="UserName" class="ForUserNameInput" />
      </span>
    </div>
    <div class="">
      <span>
        <label class="ForMailIdlabel">Mail Id</label>&nbsp;&nbsp;
        <input type="text" formControlName="MailId" class="ForMailIdInput"  />
      </span>
    </div>
    <div class="">
      <span>
        <label class="ForContactNumberlabel"> Contact Number</label>&nbsp;&nbsp;
        <input type="text" formControlName="ContactNumber" class="ForContactNumberInput" />
      </span>
    </div>
    <div class="">
      <span>
        <label class="ForGenderlabel">Gender</label>&nbsp;&nbsp;
        <input type="text" formControlName="Gender" class="ForGenderInput" />
      </span>
    </div>
    <div class="">
      <span>
        <label class="ForPasswordlabel">Password</label>&nbsp;&nbsp;
        <input type="password" formControlName="Password" class="ForPasswordInput" />
      </span>
    </div>
    <div>
      <span>
        <label class="ForUserBiolabel">User Bio</label>&nbsp;&nbsp;
        <input type="text" formControlName="UserBio" class="ForUserBioInput input-lg" />
      </span>
    </div>
    <div>
      <span>
        <label class="ForProfilePicturelabel">Profile Picture</label>&nbsp;&nbsp;

        <input (change)="picked($event, 1)" type="file" />
      </span>
    </div>
    
    <button type="submit" mat-raised-button color="primary" value="Submit" style="float: right;">Save Edit </button>
    </div>
    <div class="img" style="display: inline">
      <img class="imgSrc" [src]="imagePath" />
    </div>
  </form>
</div>
</div>