<div>
    <div id="menu-nav">
      <div id="navigation-bar">
        <ul>
          <li>
            <a><span>New tweet</span></a>
          </li>
          <li>
            <a><span>My Tweets</span></a>
          </li>
          <li>
            <a><span>All Tweets</span></a>
          </li>
          <li>
            <a><span>All Users</span></a>
          </li>
          <li>
            <a><span>Edit account</span></a>
          </li>
  
          <li class="logoutBtn">
            <button type="button" class="btn btn-danger">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  