
<div *ngIf="!isUpdate">
    <form [formGroup]="formdata" (ngSubmit)="checkDetails(formdata.value)">
        <input type="email" formControlName="MailId"/>
        <input type="number" formControlName="ContactNumber"/>
        <button type="submit" value="Submit">Check</button>
    </form>
</div>

<div *ngIf="isUpdate">
    <form [formGroup]="UpdateFormdata" (ngSubmit)="UpdatePassword(formdata.value)">
        <input type="email" formControlName="MailId"/>
        <input type="password" formControlName="Password"/>
        <button type="submit" value="Submit">Update password</button>
    </form>
</div>
