
<div *ngIf="isLoading">
    <app-loading-screen></app-loading-screen>
  </div>
<div *ngIf="!isLoading">
<div class="outer" >
    &zwnj; 
    &zwnj; <br>
    &zwnj;  <br>
    &zwnj; &zwnj;  <br>
    &zwnj; &zwnj; 
    &zwnj; &zwnj; 
    &zwnj; &zwnj; 
    &zwnj;  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div *ngIf="!isUpdate" >
        <div>
<mat-card class="card1">
   
    <mat-card-content>
        <h1>Enter Your details  to verify</h1>
        <form [formGroup]="formdata" (ngSubmit)="checkDetails(formdata.value)">
            <label style="width: 120px;">Mail Id</label>
            <input type="email" formControlName="MailId" placeholder="Enter your mail Id" style="width: 220px;"/>
            <br><br>
            <label style="width: 120px;">Contact Number</label>
            <input type="number" formControlName="ContactNumber" placeholder="Enter Contact Number" style="width: 220px;"/>
            <br><br>
            <button type="submit" mat-raised-button color="primary" class="btnCheck" value="Submit">Check</button>
        </form>
    </mat-card-content>

</mat-card>
</div>
</div>
<div *ngIf="isUpdate">
 <mat-card class="card1">
     <mat-card-content>
        <h1>Enter Your New password and Mail Id</h1>
        <form [formGroup]="UpdateFormdata" (ngSubmit)="UpdatePassword(formdata.value)">
            <label style="width: 120px;">Mail Id</label>
            <input type="email" formControlName="MailId" placeholder="Enter your mail Id" style="width: 220px;"/>
            <br><br>
            <label style="width: 120px;">Password</label>
            <input type="password" formControlName="Password" placeholder="Enter your new Password" style="width: 220px;"/>
            <br><br>
            <button type="submit" mat-raised-button color="primary" class="btnSubmit" value="Submit">Update password</button>
        </form>
     </mat-card-content>
 </mat-card>
</div>
&zwnj; 
    &zwnj; <br>
    &zwnj;  <br>
    &zwnj; &zwnj;  <br>
    &zwnj; &zwnj; 
    &zwnj; &zwnj; 
    &zwnj; &zwnj; 
    &zwnj;  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    &zwnj; 
    &zwnj; <br>
    &zwnj;  <br>
    &zwnj; &zwnj;  <br>
    &zwnj; &zwnj; 
    &zwnj; &zwnj; 
    &zwnj; &zwnj; 
    &zwnj;  <br>
    <br>
    <br>
    
    
</div>
</div>